{{ define "main" }}
  <h1 class="font-semibold my-20">{{ with .Params.emoji }}{{ . }} {{ end }}{{ .Title }}</h1>
  <div>
    {{ range .Site.RegularPages }}
    <article class="mb-4">
      <header class="mb-2" >
        <h2 class="font-semibold uppercase">
          <a href="{{ .RelPermalink }}">🔗 {{ .Dir }}</a>
        </h2>
        {{ with .Date }}
          <h3 class="text-sm">🗓 {{ . "02 January 2006" }}</h3>
        {{ end }}
      </header>
      <p>{{ .Summary | truncate 70 }}</p>
    </article>
    {{ end }}
  </div>
{{ end }}
